snippet bang "Python shebang" bA
#!/usr/bin/env python3
endsnippet

snippet im "Simple import statement" bA
import $0
endsnippet

snippet from "From __ import __ statement" bA
from $1 import $0
endsnippet
