snippet bang "Python shebang" bA
#!/usr/bin/env python3
endsnippet

snippet im "Simple import statement" bA
import $0
endsnippet

snippet from "From __ import __ statement" bA
from ${1:module} import ${0:Class}
endsnippet

snippet def "Function" bA
def ${1:function_name}(${2:parameters}):
    $0
endsnippet
